<!DOCTYPE html>
<html lang="en">
{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Sport E-Goods | Home</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div>
    <img src="{% static "images/logo.png" %}" alt="logo"/>
    <div style="float: right"><input type="text" placeholder="Search.."><button type="submit">Submit</button><button type="button">
        Login</button><br><div class="right"><A href="" style="float: right">New User?</A></div></div>
</div>
<center>
<br><hr>
<h2>Top Selling Products</h2>
<table>
    <th><td><div class="container"><img class="img1" src="{% static "images/placeholder.png" %}" alt="placeholder"/>
		<div class="overlay">Team Jersey</div>
		</div></td>
    <th><td><div class="container"><img class="img1" src="{% static "images/placeholder.png" %}" alt="placeholder"/>
		<div class="overlay">Stainless Steel Travel Cup</div>
		</div></td>
    <th><td><div class="container"><img class="img1" src="{% static "images/placeholder.png" %}" alt="placeholder"/>
		<div class="overlay">Soccer Ball</div>
		</div></td>
    <th><td><div class="container"><img class="img1" src="{% static "images/placeholder.png" %}" alt="placeholder"/>
		<div class="overlay">Tennis Racquet</div>
		</div></td>
</table>
<br><hr>

<h2>New Arrivals</h2>
<table>
    <th><td><div class="container"><img class="img1" src="{% static "images/placeholder.png" %}" alt="placeholder"/>
		<div class="overlay">Team Jersey</div>
		</div></td>
    <th><td><div class="container"><img class="img1" src="{% static "images/placeholder.png" %}" alt="placeholder"/>
		<div class="overlay">Driver</div>
		</div></td>
    <th><td><div class="container"><img class="img1" src="{% static "images/placeholder.png" %}" alt="placeholder"/>
		<div class="overlay">Gloves</div>
		</div></td>
    <th><td><div class="container"><img class="img1" src="{% static "images/placeholder.png" %}" alt="placeholder"/>
		<div class="overlay">Hoodie</div>
		</div></td>
</table>
<br><hr>

<h2>Shop by Department</h2>
<table>
    <th><td><div class="container"><img class="img1" src="{% static "images/placeholder.png" %}" alt="placeholder"/>
		<div class="overlay">Equipment</div>
		</div></td>
    <th><td><div class="container"><img class="img1" src="{% static "images/placeholder.png" %}" alt="placeholder"/>
		<div class="overlay">Apparel</div>
		</div></td>
    <th><td><div class="container"><img class="img1" src="{% static "images/placeholder.png" %}" alt="placeholder"/>
		<div class="overlay">Accessories</div>
		</div></td>
    <th><td><div class="container"><img class="img1" src="{% static "images/placeholder.png" %}" alt="placeholder"/>
		<div class="overlay">Fan Gear</div>
		</div></td>
</table>
</center>
</body>

{% endblock %}
</html>
